<div class="container-fluid cuerpo" ng-controller="HomeController">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <h1>Ultimas Peliculas</h1>
       </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="movie in movies">
            <a ui-sref="app.moviedetails({id: movie.id})">
                <img class="img-rounded img-responsive lista" ng-src="{{baseURL+movie.image}}" alt="imagen" style="width:150px;height:220px">
            </a>
            <h6>{{movie.name}}</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <h1>Ultimas Series</h1>
       </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="show in shows">
            <a ui-sref="app.showdetails({id: show.id})">
                <img class="img-rounded img-responsive lista" ng-src="{{baseURL+show.image}}" alt="imagen" style="width:150px;height:220px">
            </a>
            <h6>{{show.name}}</h6>
        </div>
    </div>
</div>